<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>pictures</title>
    <link rel="stylesheet" th:href="@{/static/bootstrap-3.3.7-dist/css/bootstrap.css}">
</head>
<body>

<div class="container">
    <div class="page-header">
        <h3>相册</h3>
    </div>

    <a href="/pictures/add" class="btn btn-default">add picture</a>

    <ul>
        <li th:each="picture : ${pictures}">
            <a th:href="${'/pictures/'+picture.id}">
                <img th:src="${picture.relativePath}" style="width: 100px">
                <span th:text="${picture.originalFilename}"></span>
            </a>
        </li>
    </ul>

</div>
</body>
</html>